.table-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .table {
    border-spacing: 50px 20px;
  }

  .icon-container {
    align-items: center;
    display: flex;
  }

  .edit-icon {
    cursor: pointer;
    font-size: small;
    padding-right: 7px;
  }
  
  .tokens-column {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .balance-column {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: end;
  }
  
  .token,
  .balance {
    font-size: 24px;
    font-weight: 600;
  }
  
  .edit-icon {
    padding-right: 8px;
  }
  
  .balance {
    vertical-align: bottom;
  }
  
  @media ( min-width: 768px ) {
    .edit-icon {
      font-size: medium;
    }
    
    .tokens-column {
      font-size: 1.2rem;
    }
  
    .balance-column {
      font-size: 1.2rem;
    }
    .token,
    .balance {
      font-size: 32px;
    }
}